-date      = "0316"
-$TH       = "TH6_vert-jaune"
-$campaign = "&utm_campaign=#{date}_couleurs"
/ ID all country
- $ID = { # ...,
  # FR,
  fr: "1240",
  # BF,
  bf: "1239",
  # BV,
  bv: "1243",
  # DE,
  de: "1242",
  # NL,
  nl: "1238",
  # UK,
  uk: "1241"}




